### Lesson 4
Working with NULL Values and Aggregative Methods General instructions:   
Each section should be performed in a separate cell


### Part 1 - Working with NULL Values 
1. Open a new folder on your desktop named Python_Class 
2. Go to the folder you opened, and create a new notebook called Ex_sol_4 
(Make sure that a notebook has been opened in the desired location) 
3. Import the Pandas Library to the notebook

In [119]:
import pandas as pd

4. Open a new cell and turn it into a Markdown cell containing the following title: NULL values and analytics 
5. Import the file called Police.csv to the notebook. Note the date column

In [120]:
df = pd.read_csv('police.csv', parse_dates=['stop_date'], dayfirst=True)
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,ticket_amount,stop_duration,drugs_related_stop
0,2005-01-02,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Ticket,False,341.0,0-15 Min,False
1,2005-01-18,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Ticket,False,161.0,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,NaN,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,NaN,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,NaN,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,NaN,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,NaN,0-15 Min,False

6. Delete all empty columns from the df, and determine which operation to use How many column (s) were deleted?

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  ticket_amount       1082 non-null   float64
 14  stop_duration       86408 non-null  object
 15  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(4), object(9)
memory usage: 10.0+ MB

In [122]:
# option 1
# delete column
df.drop(columns=['county_name'],inplace=True)
# option 2
# all null >> delete 
# df.dropna(axis='columns', how='all', inplace=True)

#Option 1: Specified column name that you want to removed.
#Option 2: df.dropna(axis='columns', how='all', inplace=True) > this will remove all columns that are completely empty.
# df.dropna(axis='columns', how='all', inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  ticket_amount       1082 non-null   float64
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(3), object(9)
memory usage: 9.3+ MB

7. Check how many blank values there are in the column search_type 
8. Delete rows that contain NULL values in only one of the following columns: 
stop_date 
violation_raw 
violation

In [123]:
#7 
df['search_type'].isnull().sum()

np.int64(88545)

In [124]:
#8 
df.dropna(subset=['stop_date', 'violation_raw', 'violation'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86408 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           86408 non-null  datetime64[ns]
 1   stop_time           86408 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86407 non-null  float64
 4   driver_age          86115 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    86408 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  ticket_amount       1081 non-null   float64
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  86408 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(3), object(9)
memory usage: 9.4+ MB

9. How many blank rows are there in the column driver_age ?

In [125]:
df['driver_age'].isnull().sum()

np.int64(293)

10. What is the percentage of blank rows in the driver_age column? 
    Hint:The number of rows in the df can be calculated by the len () function

In [126]:
df['driver_age'].isnull().sum() / len(df) * 100

np.float64(0.33908897324321824)

In [127]:
#11. What is the average value in the driver_age column?
df['driver_age'].info()

df['driver_age'].mean()

<class 'pandas.core.series.Series'>
Index: 86408 entries, 0 to 91740
Series name: driver_age
Non-Null Count  Dtype
--------------  -----
86115 non-null  float64
dtypes: float64(1)
memory usage: 1.3 MB

np.float64(34.01165882831098)

In [128]:
# 12. Fill in the missing values in the driver_age column with the average value of the column, rounded to the nearest whole number
df['driver_age'].fillna(round(df['driver_age'].mean()), inplace=True)
# above all

C:\Users\hanay\AppData\Local\Temp\ipykernel_34704\4041053939.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['driver_age'].fillna(round(df['driver_age'].mean()), inplace=True)

In [129]:
df['driver_age'].isnull().sum()

np.int64(0)

In [130]:
# 13. What is the new average value in the driver_age column? 
# Did filling in the missing values make a significant change to the average?
df['driver_age'].mean()

np.float64(34.01161929450977)

## Part 2 - Aggregative Methods

16. What is the total monetary amount of all tickets given to drivers (ticket_amount)

In [131]:
# 16. What is the total monetary amount of all tickets given to drivers (ticket_amount) 
df['ticket_amount'].sum()

np.float64(237423.0)

In [132]:
#17. What is the total monetary amount of tickets given to drivers aged 20-50? 
df[(df['driver_age'] >= 20) & (df['driver_age'] <= 50)]['ticket_amount'].sum()

np.float64(187053.0)

In [133]:
#17
whereabove20 = df['driver_age'] >= 20
wherebelow50 = df['driver_age'] <= 50

df.loc[whereabove20 & wherebelow50, 'ticket_amount'].sum()

np.float64(187053.0)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86408 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           86408 non-null  datetime64[ns]
 1   stop_time           86408 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86407 non-null  float64
 4   driver_age          86408 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    86408 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  ticket_amount       1081 non-null   float64
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  86408 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(3), object(9)
memory usage: 9.4+ MB

In [135]:
# 18. What is the average monetary amount of tickets given to women? 
df['driver_gender'].value_counts()
wheref = df['driver_gender'] == 'F'
df.loc[wheref, 'ticket_amount'].mean()

np.float64(214.77197802197801)

In [136]:
# 19. What is the maximum age of male drivers arrested for speeding?
wheremale = df['driver_gender'] == 'M'
wherespeeding = df['violation'] == 'Speeding'
wherearrested = df['is_arrested'] == True
df.loc[wheremale & wherespeeding & wherearrested, 'driver_age'].max()

np.float64(60.0)

In [137]:
# 20. How many women have been arrested for the traffic offense Call for Service?
wherefemale = df['driver_gender'] == 'F'
wherecallfor = df['violation_raw'] == 'Call for Service'
df.loc[wherefemale & wherecallfor & wherearrested, 'is_arrested'].sum()

64

In [138]:
# 21. Who had more vehicle searches conducted (search_conducted), men or women? By what percentage more?
df.loc[wheremale, 'search_conducted'].sum()

np.int64(2725)

In [139]:
df.loc[wherefemale, 'search_conducted'].sum()

np.int64(471)

In [141]:
df.loc[wheremale, 'search_conducted'].sum() / df.loc[wherefemale, 'search_conducted'].sum() * 100

np.float64(578.5562632696391)

In [142]:
(df.loc[wheremale, 'search_conducted'].sum() - df.loc[wherefemale, 'search_conducted'].sum()) / df.loc[wherefemale, 'search_conducted'].sum() * 100

np.float64(478.5562632696391)