In [3]:
1 + 1

2

### Hi
This is python.  
13. Show the remainder when my_number is divided by 7

In [10]:
a = 5 // 2
b = 2 + 1
c = 1 ** 5
print(a,b,c)

2 3 1

#### Class practice
* Part 2 - Working with variables   
9. Underneath that one, add a Markdown cell with the title: Numbers   
10. Define a variable named my_number and insert the value 500

In [17]:
my_number = 500
# define ny_number

In [12]:
my_number

500

In [13]:
print(my_number)

500

In [22]:
print('price is ' + str(my_number))
# we need to fix same datatype

price is 500

11. Display the value for the variable my_number

In [29]:
print('The price is',my_number)
# Whichever is good

print(f'The price is {my_number}')
# This allow any sentences.

The price is 500
The price is 500

12. Add 30 to the variable, and multiply the result by 2 
Display the value for the variable my_number

In [31]:
my_number = (my_number + 30) * 2
my_number

1060

13. Show the remainder when my_number is divided by 7

In [32]:
my_number % 7

3

14. Define a unit_price variable, with the value of 503

In [33]:
unit_price = 503

15. Define a qty_sold variable, with the value of 8

In [34]:
qty_sold = 8

16. Using the variables you defined in the previous sections, calculate what amount the customer would pay if he received a 10% discount.     


Perform the assignment statement (save the value) to the variable named   
* total_price 
Display the value of the variable

In [39]:
total_price = unit_price * qty_sold * 0.9
total_price

3621.6

17. Show the result of dividing total_price by 3

In [40]:
total_price // 3

1207.0

In [44]:
type(total_price)
# You can know what is data type.

float

In [ ]:
# check all number?
product_id = '21'
product_id.isdigit()

True

18. Show the result of dividing total_price by 3 but show only a whole number

19. What is the variable type of total_price?

### Part 3 - Working with Strings, Functions and Useful Methods  
20. Define a Markdown cell with the title: String slicing and methods

### String slicing and methods

20. Define a Markdown cell with the title: String slicing and methods

In [49]:
my_name = 'Yui Hanamura'

21. Define a new variable named my_name, and put in your name   
22. Define a new variable named city, and put in the name of the city where you live

In [52]:
city = 'New York'
type(city)

str

24. Set to print (<> refers to the value in the variable in parentheses):   
Welcome <my_name> from <City>, please pay <total_price>

In [54]:
print(f'Welcome {my_name} from {city}, please pay {total_price}')

Welcome Yui Hanamura from New York, please pay 3621.6

25. Print the following text accurately:   
Hello <my_name>,   
It's our first Python lesson    
How fun!  =)

In [85]:
print(f"Hello {my_name}, \n It's our first Python lesson \tHow fun! =)" )

Hello Yui Hanamura,
 It's our first Python lesson 	How fun! =)

26. What will be the result of the expression? Think to yourself first and only then   
check the software:   
"He" + "l" * 2 + "o" + " Class - " + "Python " + str(100//5) + str(45%23)

In [87]:
print("He" + "l" * 2 + "o" + " Class - " + "Python " + str(100//5) + str(45%23))

Hello Class - Python 2022

27. Define a new variable named my_address, and put in your full address   
28. Print only the first 5 characters  
29. Print the last 6 characters   
30. Print the address from the beginning to the end in increments of 3  
31. Print the address from the end to the beginning

In [96]:
my_adress = '5177sidleySt'
print(my_adress[:5])
print(my_adress[-6:])

# step 3 charactor Q30
print(my_adress[::3])
# last number not include
print(my_adress[::-1])

5177s
dleySt
57dy
tSyeldis7715

32. Print the following text exactly as it appears (including line breaks and indentations):     
Twinkle, twinkle, little star,   
How I wonder what you are!    
Up above the world so high, 
Like a diamond in the sky.    
Twinkle, twinkle, little star,    
How I wonder what you are

In [105]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!  \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n \tHow I wonder what you are ")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
 	How I wonder what you are